body{
    background-color: #fcf4a3 ;
}

#container{
    background-color: #fffdd0;
    border: 5px solid #ffcc00;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;

}
#input{
  width: 100px; 
  margin: 25px auto; 
}

#btn{
    margin: 25px auto auto 5px;
}

p{
    font-size: 20px;
}